@import '../styles/index.css';

.container{
    width: 100%;
    height: 50px;
    background: #ffffff;
}
.retreat{
    display: block;
    width:50px;
    height: 50px;
    background: url('./image/retreat.jpg') no-repeat;
    background-size: 25%;
    background-position:center center; 
}
.container>span{
    line-height: 50px;
    margin-left:10px;
}
.vertitle{
    width: 375px;
    height: 50px;
    background: #60b067;
    line-height: 50px;
    font-size: 13px;
    color: #ffffff;
    letter-spacing: 2px;
}
.title_three{
    font-size:15px;
    font-weight:bold;
}
.vertitle>span{
    margin-left:10px;
}
.bg_body{
    background: #f2f3f5;
}
.vericonteiner{  
}
.verxqbd{
    height: 70px;
}
.verxqbd>p{
    margin: 16px 0 0 15px;
    
}
.ver_input{
    height:40px;
    background: #ffffff;
    border-top: 1px solid #e7e7e9;
    border-bottom: 1px solid #e7e7e9;
}
.ver_input>input{
    height: 35px;
    background: #ffffff;
    border:none;
    margin:0 0 0 15px;
}
.verxqbd_number{
    height: 35px;
}
.verxqbd_number>p{
    margin: 16px 0 0 15px;
}
.ver_btn{
    margin:20px auto 0;
    width: 350px;
    height: 40px;
    border: 1px solid #60b067;
    border-radius: 5px;
    background: #60b067;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 5px;
    line-height: 40px;
    text-align: center;
}